* {
    box-sizing: border-box;
}

:root {
    --slide-padding: 20px;
}

html,
body {
    height: 100vh;
}

.box {
    min-height: 100vh;
}

#home {
    background-color: #101010;
    background-attachment: fixed;
    position: relative;
}
#home h1,
#home h2 {
    color: #fff;
}

#portifolio {
    background-color: #101010;
}
footer {
    color: white;
    min-height: 150px;
    background-color: black;
}

footer div:first-child {
    background-color: #0a0a0a;
}
footer div:last-child {
    height: 50px;
}
footer a i {
    color: #fff;
}

.slider {
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    margin: 10px 0;
}

.slider-content {
    display: flex;
    flex-shrink: 0;
    overflow-x: auto;
    width: 100%;
    -ms-overflow-style: none; /* hide scroll IE and Edge */
    scrollbar-width: none; /* hide scroll Firefox */
}
/*hide scroll WebKit(Chrome, Safari, Opera etc)  */
.slider-content::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}

.slide {
    color: white;
    /* X-Small devices (portrait phones, less than 576px) */
    width: calc((100% - 30px) * 0.95);
    border-radius: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-right: var(--slide-padding);
    transition: 2s;
    cursor: pointer;
}
.slide img {
    border-radius: 5px;
    width: 100%;
    height: auto;
    pointer-events: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.slider-button {
    border: none;
    outline: none;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    display: none;
}

#slider-controll-prev,
#slider-controll-next {
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    border: 1px solid grey;
}

#slider-controll-prev {
    left: 0;
}

#slider-controll-next {
    right: 0;
}

/* breakpoint: https:getbootstrap.com/docs/5.0/layout/breakpoints/ */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .slide {
        width: calc(((100% - var(--slide-padding)) / 2) - var(--slide-padding));
    }
    .slider-button {
        display: block;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .slide {
        width: calc((100% - var(--slide-padding)) / 1.8);
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .slide {
        width: calc((100% - var(--slide-padding)) / 2.5);
    }
}

/* X-Large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {
    .slide {
    
} */
